[tool.poetry]
name = "samgis_core"
version = "2.0.0"
description = "SamGIS CORE"
authors = ["alessandro trinca tornidor <alessandro@trinca.tornidor.com>"]
license = "MIT license"
readme = "README.md"

[metadata]
name = "samgis_core"
version = "2.0.0"

[tool.poetry.urls]
Source = "https://gitlab.com/aletrn/samgis_core"

[tool.poetry.dependencies]
numpy = [
    {version = "1.25.2", python = "~3.10"},
    {version = "^1.26", python = "~3.11"}
]
pillow = "^10.2.0"
python = ">=3.10, <3.12"
onnxruntime = "1.17.3"
loguru = "^0.7.2"
bson = "^0.5.10"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest = "^7.4.3"
pytest-cov = "^4.1.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
